
{% block title %} {% endblock %}

    {% block stylesheet %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
              integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
              crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
                integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
                crossorigin=""></script>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.css" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.Default.css" />
        <script src='https://unpkg.com/leaflet.markercluster@1.2.0/dist/leaflet.markercluster.js'>  </script>


        <link rel="stylesheet" href="{{ asset('dist/MarkerCluster.css') }}" />
        <link rel="stylesheet" href="{{ asset('dist/MarkerCluster.Default.css') }}" />

        <script src="{{ asset('dist/leaflet.markercluster-src.js') }}"></script>


        <link rel="stylesheet" href="{{ asset('css/recherche.css') }}"/>

    {% endblock %}

{% block body %}


    <div class="row">
        <div class="col-xs-8">
            <h2 id="titleFormSearch">Recherche par espèces d'oiseau</h2>
            <h2 id="subTitleFormSearch">Veuillez choisir l'espèces d'oiseau</h2>
        </div>
        <div class="col-xs-4">
            <img id="oiseau" src="{{ asset('images/oiseau.jpg') }}" alt="oiseau">
        </div>
    </div>
    <form method="get" onsubmit="return false">
        <label for="ordres">Ordre</label>
        <select class="form-control" id="ordres" >
            <option disabled selected value>Sélectionnez un ordre</option>
            {% for ordre in ordres %}
                <option value="{{ ordre.ordre }}">{{ ordre.ordre }}</option>
            {% endfor %}
        </select>

        <label for="familles">Famille</label>
        <select class="form-control" id="familles">
            <option selected value="">Sélectionnez une famille</option>
            {% for famille in familles %}
                <option value="{{ famille.famille }}">{{ famille.famille }}</option>
            {% endfor %}
        </select><br>

        <label>Nom d'oiseau</label>
        <input class="form-control" type="text" list="oiseaux" id="oiseauField" autocomplete="off" value="Saisir 3 caractères minimum" >
        <datalist id="oiseaux">
            {% set oiseauxNom = [] %}
            {% for oiseau in oiseaux %}
                {% if oiseau.nomVern in oiseauxNom %}
                {% else %}
                    {% if oiseau.nomVern != "" %}
                        {% set oiseauxNom = oiseauxNom|merge([oiseau.nomVern]) %}
                        <option class="oiseauOption" value="{{ oiseau.nomVern }}" id="{{ oiseau.id }}">
                        <input id="getUrl-{{ oiseau.id }}" type="hidden" value="{{ oiseau.url }}"/>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </datalist>
    </form>
    <div id="searchButtonDiv">
        <button id="searchButton" class="btn btn-info">Je recherche</button>
    </div>

    {% if NbObservationsAvecNomOiseauAccepte is defined %} <h2 id="observationValideEspece">Nombre d'observations effectuées: </h2>
        <p>Il y a <span id="howMany">{{ NbObservationsAvecNomOiseauAccepte }} observation{% if NbObservationsAvecNomOiseauAccepte > 1 %}s{% endif %}</span> validées.</p>
        <hr>{% endif %}

    <div id="mapContainer">
        <div>
            <button id="clearMap" class="btn btn-default">Réinitialiser la carte</button>
        </div>
        {% if app.user %}
            <input type="hidden" id="isLogged" value="true">
        {% else %}
            <div class="alert alert-info">Merci de vous connecter pour obtenir une géolocalisation précise.</div>
        {% endif %}
        <div class="row">
            <div id="colMap">
                <div class="col-md-7" id="mapid"></div>
            </div>
        </div>
        <hr>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>

    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-select2.js') }}"></script>

    <script>
        var rechercheOrdre =  "{{ path('rechercheAvecOrdre') }}";
        var rechercheFamille =  "{{ path('rechercheAvecFamille') }}";
        var rechercherOiseau = "{{ path('rechercheAvecOiseauAccepte') }}"
    </script>

 <!--   <script>
        function lettresmini(){
        }
        document.getElementById('oiseauField');
        if( oiseauField.length < 3 ) {
            window.alert("Saisir 3 caractères minimum");
        }
    </script>
-->

   <script>

         var lat = document.getElementById("observation_latitude");
         var lon = document.getElementById("observation_longitude");

    </script>
    



    <script src="{{ asset('js/js-md5/js/md5.min.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollToTop.min.js') }}"></script>

    <script src="{{ asset('js/recherche.js') }}"></script>



{% endblock %}