{% extends "::base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/participerObservation.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div id="project" class="col-xs-12 col-md-6">
            <h1 id="projectTitle">Le projet</h1>
            <p>Projet d'une application participative aux passionnés d’ornithologie.</p>
            <div class="row" id="btnProject">
                <a href="{{ path('participerPage') }}" class="btn btn-primary">Participer</a>
            </div>
        </div>

        <div id="how" class="col-xs-12 col-md-6">
            <h1 id="howTitle">Notre programme</h1>

            <div class="row bonus">
                <p>Le projet vous intéresse ?</p>
                <p>C'est facile et amusant, <a href="{{ path('commentPage') }}">cliquez ici</a></p>
            </div>
        </div>
    </div>
    <div class="row" id="last">

        <h1 id="lastTitle">Dernières observations</h1>
            {% if Observations == null %}
                <p>Aucune observation n'a été publié. Soyez le premier : <a href="{{ path('participerPage') }}">Participez</a> </p>
            {% else %}
            <div class="row">
                {% for Observation in Observations %}
                    <div class="col-md-4">
                        {#We include observations template#}
                        {% include 'NaoBundle::observations.html.twig' %}
                    </div>
                  {% endfor %}
            </div>
            {% endif %}

    </div>
{% endblock %}