{% extends '::base.html.twig'%}

{% block title %}Administration{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/adminIndex.css') }}">
    <link rel="stylesheet" href="{{ asset('css/participerObservation.css') }}">
{% endblock %}

{% block body %}

        <h1 id="observationToValidateTitle">Saisies soumises</h1>
        <p>Nombre de Saisies soumises pour validations:  <span id="howMany">{{ nombreObservationAValider }}</span>. </p>
        <hr>

    <div id="infos">
        <h1 id="welcomeMsg">Bonjour {{ app.user.username }}</h1>


        <p><a href="{{ path('fos_user_profile_edit') }}">Modifier mes informations personnelles</a></p>
        <p><a href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a></p>

            <p><a href="{{ path('adminValiderObservationPage', {'page' : 1})  }}">Saisies soumises</a></p>


        <p><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
    </div>
    <hr>
    <h2 id="myMsg">Mes observations</h2>
    {% if Observations == null %}
        <p>Vous n'avez fait aucune observation.</p>
    {% else %}
        {% set months = [] %}
        <div class="row">
        {% for Observation in Observations %}
            {#We include observations template#}
            {% include 'NaoBundle::observations.html.twig' %}
        {% endfor %}
        </div>
    {% endif %}
    <div id="moreObservation">
        {#<button class="btn btn-default">Observations plus anciennes</button>#}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/js-md5/js/md5.min.js') }}"></script>
    <script src="{{ asset('js/adminIndex.js') }}"></script>

    <script>

        var plusObservationsPage = "{{ path('moreObservationsPage') }}"

    </script>

{% endblock %}